---

---

<section id="hero">
  <img src="../../public/SamTheSpeechSmith.webp" alt="Sam the Speech Smith" />
</section>

<style>
  #hero {
    height: 640px;
    width: auto;
    background-color: salmon;
    display: flex;
    justify-content: center;
  }
</style>
