---

---

<section id="hero">
  <img
    id="hero__sam-img"
    src="/SamtheSpeechsmith.svg"
    alt="Sam the Speech Smith"
  />
</section>

<style>
  #hero {
    height: 640px;
    width: auto;

    display: flex;
    justify-content: flex-end;
    background-image: url(/woodpaneling.png);
    background-repeat: repeat;
    background-size: 30%;
  }
</style>
