---

---

<section id="hero">
  <div class="hero_tv-holder">
    <img
      src="speechsmith-tv.png"
      alt="Speechmith brand television"
      id="speechsmith-tv"
    />
    <div class="hero_tv-shadow"></div>
  </div>

  <h1 id="hero-heading">Polish Your Presentation, Perfect Your Pitch</h1>
  <div id="btn-area">
    <button id="hero-btn">Book a Consultation NOW</button>
  </div>

  <!-- <div class="fire-glow">
    <img
      id="hero__sam-img"
      src="/SamtheSpeechsmith.svg"
      alt="Sam the Speechsmith"
    />
  </div> -->
</section>

<style>
  #hero {
    height: 640px;
    width: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "tv hero-heading"
      "tv hero-area";
    background-image: url(/woodpaneling.png);
    background-repeat: repeat;
    background-size: 30%;
  }

  /* #hero-left {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  } */

  #speechsmith-tv {
    height: 80%;
    align-self: center;
    justify-self: center;
  }

  #hero-heading {
    grid-area: hero-heading;
    font-size: 3rem;
    align-self: center;
    justify-self: center;
    /* display: inline-block; */
    background-color: white;
    border-radius: 40px;
    padding: 15px;
    box-shadow: var(--black) 12px 12px 0 0;
  }

  #hero-area {
    grid-area: hero-area;
    align-content: center;
    justify-content: center;
  }

  #btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hero-btn {
    font-size: 1.5rem;
    width: 15rem;
    height: 5rem;
    border-radius: 40px;
    box-shadow: var(--black) 12px 12px 0 0;
  }

  .hero_tv-holder {
    grid-area: tv;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .hero_tv-shadow {
    width: 75%;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    align-self: flex-end;
    margin-bottom: 20px;
  }

  /* .fire-glow {
    
    height: 90%;
    filter: drop-shadow(0 0 10px red); 
    animation: fire-glow-animation 10s infinite;
  } */

  /* #hero__sam-img {
    height: 100%;
  } */

  /* .speech-bubble {
    align-self: center;
    justify-self: flex-end;
    position: relative;
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    color: black;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  } */
  /* Create the tail */
  /* .speech-bubble:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  } */

  /* Apply the pointillist effect */
  /* .pointillism {
    background: radial-gradient(circle, #000000 10%, transparent 10%),
      radial-gradient(circle, #ffffff 10%, transparent 10%);
    background-size: 10px 10px;
    background-position:
      0 0,
      5px 5px;
  } */

  /* @keyframes fire-glow-animation {
    0%,
    100% {
      filter: drop-shadow(0 0 10px red); 
    }
    25%,
    75% {
      filter: drop-shadow(0 0 13px orange); 
    }
    50% {
      filter: drop-shadow(0 0 15px yellow);
    }
  } */
</style>
