---
import ServicesCard from "./Services_card.astro";
---

<section id="services">
  <ServicesCard
    name="Individual Presentation Coaching"
    image="services-1.png"
    description="Tailored one-on-one coaching sessions focused on enhancing your presentation skills, confidence, and effectiveness"
    price="150000"
  />
  <ServicesCard
    name="Public Speaking Group Workshop"
    image="services-2.png"
    description="Interactive workshops for groups aimed at improving public speaking skills, including practice and feedback sessions."
    price="300000"
  />
  <ServicesCard
    name="Virtual Presentation Skills Training"
    image="services-3.png"
    description="Specialized training on how to effectively deliver presentations in a virtual setting, including use of technology and audience engagement."
    price="120000"
  />
  <ServicesCard
    name="Storytelling in Business Communication"
    image="services-4.png"
    description="A session focused on integrating storytelling techniques into business presentations to make them more compelling and memorable."
    price="200000"
  />
  <ServicesCard
    name="Presentation Design and Visual Aid Consultation"
    image="services-5.png"
    description="Expert advice on creating impactful presentation slides and visuals that complement and enhance your spoken message."
    price="100000"
  />
  <ServicesCard
    name="Intensive Public Speaking Bootcamp"
    image="services-6.png"
    description="A comprehensive, intensive training program covering all aspects of public speaking, from preparation to delivery."
    price="1000000"
  />
</section>

<style>
  #services {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(/blackboard-bg.png);
    background-repeat: repeat;
    background-size: 30%;
  }
</style>
