---

---

<nav>
  <div class="nav-center">
    <img id="nav__center-img" src="/SpeechsmithsForgeLogoV1-2.svg" alt="" />
  </div>
</nav>

<style>
  nav {
    height: 60px;
    width: auto;
    background-color: var(--bg-dark);
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
  }

  .nav-center {
    width: 50%;
    height: 64px;
    border-radius: 32px;
    background-color: white;
    box-shadow: var(--black) 12px 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #nav__center-img {
    height: 100%;
  }
</style>
