---

---

<nav>
  <ul class="nav-menu">
    <li><a href="#">Services</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Testimonials</a></li>
    <img id="nav__center-img" src="/SpeechsmithsForgeLogoV1-2.svg" alt="" />
    <li><a href="#">The Blog</a></li>
    <li><a href="#">Our Process</a></li>
    <li><a href="#">Book Now</a></li>
  </ul>
</nav>

<style>
  nav {
    height: 60px;
    width: auto;
    background-color: var(--bg-dark);
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
  }

  .nav-menu {
    /* width: 75%; */
    height: 64px;
    border-radius: 32px;
    background-color: white;
    box-shadow: var(--black) 12px 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
  }

  .nav-menu a {
    display: block;
    padding: 10px;
    font-size: clamp(1rem, 2vw, 2rem);
    text-decoration: none;
    color: var(--black);
    text-align: center;
    line-height: 1.5rem;
  }

  #nav__center-img {
    height: 250%;
    align-self: flex-start;
    filter: drop-shadow(0 0 5px var(--black));
  }
</style>
