---

---

<nav>
  <div class="nav-center"></div>
</nav>

<style>
  nav {
    height: 60px;
    width: auto;
    background-color: var(--bg-dark);
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
  }

  .nav-center {
    width: 50%;
    height: 64px;
    border-radius: 32px;
    background-color: white;
    box-shadow: black 12px 12px 0 0;
  }
</style>
