---
interface Props {
  title: string;
}

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Urbanist&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --bg-dark: #16161d;
    --black: #06120f;
    --red: #a91c15;
    --yellow: #d17d27;
    --orange: #f75506;
    --beige: #fdf2d1;
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
  }
  body {
    background-color: var(--bg-dark);
    padding-left: 60px;
    padding-right: 60px;
  }
</style>
